body{
  background-color: #F8F1E4;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: #5A4D41;
}

.nav-bar{
  background-color: #1A2A3A  ;
  color: white;
  position: fixed;
  width: 100%;
  height: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  top: 0;
  z-index: 1;
}

.logo{
  margin: auto 10px;
}

.timer{
  margin: auto;
  padding: 4px 20px;
  border: 2px solid orange;
  border-radius: 5px;
}

#language-toggle{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 5rem;
  height: 30px;
  background-color: #D9D9D9;
  margin: auto 10px;
  position: relative;
  outline: none;
  border-radius: 3rem;
}

#language-toggle::before{
  content: "";
  position: absolute;
  /* background: radial-gradient(#cdead3,#a0e7a5,#44f444); */
  background: radial-gradient(#cdead3,#9199f4,#015301);
  width: 2.5rem;
  height: 1.85rem;
  left: 0;
  top: 0;
  border-radius: 40%;
  transition: all 0.5s ease-in-out;
}
#language-toggle::after{
  content: "EN\00a0\00a0\00a0\తె";
  font-size: 1.35rem;
  color: #1F1C2C;
  position: absolute;
  transform: translate(10%);
  font-weight: bolder;
}

#language-toggle:checked::before{
  left: 50%;
}

#intro-container{
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

#intro-message{
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: #D78D4B;
}

.card{
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid #F4C72B;
  padding: 2px;
  margin: 12px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  white-space: wrap;
}

.card-container{
  margin: 0;
}

.card > .content > h2{
  color: #1F1C2C;
}

.card > .content{
  margin: auto 10px;
}

.card > img{
  width: 360px;
  border-radius: 3px;
}

.parent-name{
  font-size: 1.3rem;
}

#reception-time, #marriage-time, #venue-value{
  font-weight: bold;
  color: #A31621;
}

#reception-label, #marriage-label, #venue-label{
  font-weight: bold;
  color: #1F1C2C;
  white-space: nowrap;
}

.ocasion-info-container{
  display: flex;
  gap: 0.5rem;
}

#lunar-time{
  font-weight: bold;
  font-size: 1.2rem;
  color: #5B2333;
}

#map-direction{
  display: block;
  margin-block: 1rem;
  padding: 8px;
  background-color: rgb(116, 116, 217);
  width: fit-content;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .card-container{
    justify-content: center;
  }
  #wedding-details-card .content{
    text-align: left;
  }
  .card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card > img{
    width: 100%;
  }
  .timer{
    padding: 5px 10px;
  }
}

.scrolling-container{
  height: fit-content;
  background-color: #F5D0A9;
  margin-bottom: 0;
  border-radius: 5px;
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, #ffffff 5%, #ffffff 95%, transparent);
}

.scrolling-content{
  width: fit-content;
  display: flex;
  list-style: none;
  color: #ffffff;
  gap: 1.25rem;
  font-size: 1.2rem;
  padding-inline-start: 0;
  animation: scrollHorizontal 45s var(--__animation-direction, forwards) linear infinite;
}

.scrolling-container header{
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  padding-bottom: 0;
  color: #924502;
  font-weight: bold;
  font-family: 'Sacramento', cursive;
}

.scrolling-tag{
  border: 1px solid white;
  border-radius: 5px;
  padding: 4px 6px;
  white-space: nowrap;
  background-color: #ed960a;
  color: #FFFFFF;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.scrolling-content[data-direction=normal]{
  --__animation-direction: forwards
}
.scrolling-content[data-direction=reverse]{
  --__animation-direction: reverse
}

@keyframes scrollHorizontal {
  to{
    transform: translateX(calc(-50% - 0.6rem));
  }
}

#welcome-container{
  padding: 40px 20px;
  height: fit-content;
  background-color: #F5A623;
  text-align: center;
}

#welcome-heading{
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  color: #924502;
  margin-block: 1rem;
}

#welcome-note{
  font-size: 1.2rem;
  margin-block: 1rem;
}

#signature-container{
  font-size: 1.2rem;
}

#main-footer{
  height: fit-content;
  background-color: #905901;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.5rem;
  padding: 10px;
}













